<footer class= "footer">
  <div class="footer-contents">
    
      <%=link_to "OnceTime" ,root_path, class: "rogo" %>
    
    <div class="end-content">
      <p class="producer-name">2021 © itiapotami</p>
    </div>
  </div>
</footer>