.chat-room {
  background-color: #f1f1f1;
}

.chat-room-show-page {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
}


.chat-messages {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  padding: 20px 40px;
}

.form-send-message {
  height: 45px;
  font-size: auto;
  width: 100%;
}

.message-send-btn {
  border-radius : 5%;          
  font-size     : 13pt;        
  text-align    : center;      
  cursor        : pointer;     
  padding       : 12px 12px;   
  background    : #6666ff;  
  color         : #ffffff;    
  line-height   : 1em;       
  transition    : .3s;         
  border        : 2px solid #6666ff;
}