<%=render 'shared/header' %>

<div class='main-contents'>
  <div class='search-bar-contents'>
    <%# サーチについての実装をする%>
    <form class="search-form" action="#">
    <%#// サーチについての実装%>
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='hotel-contents'>
  
  </div>
</div>

