a {
  text-decoration: none;
}

.hotel-main-contents {
  width: 100vw;
  height: 30vh;
  background-color: #3498DB;
  display: flex;
  justify-content: space-around;
}

.hotel-text-contents {
  width: 50%;
  height: 100%;
  background-color: #3498DB;
}

.hotel-guide-text {
  font-size: 70px;
  color: #fff;
}

.hotel-post-contents {
  width: 25%;
  height: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel-post-text {
  color: #3498DB;
  font-size: 25px;
}



.posting-text {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border:solid 3px #fff;
  font-family:Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 30px 80px;
  color: #fff;
  background-color: #3498DB;
}

.hotel-list-contents {
  width: 100vw;
  height: 100vh;
}

.hotel-lists {
  width: 90vw;
  height: 100vh;
  margin-left: 20px;
}

.list-side {
  display: flex;
}


.list {
  height: 220px;
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 2px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
  
}


.hotel-img {
  width: 300px;
  height: 200px;
  border-radius: 16px;
}
.hotel-info {
  margin: 0px 30px;
}

.hotel-name {
  font-size: 36px;
  color: rgb(113, 113, 113);
}

.hotel-description {
  margin-top: 20px;
  color: rgb(113, 113, 113) ;
}