<%= render 'shared/second-header' %>

<div class='main-contents'>
  <div class='hotel-main-contents'>
    <div class='hotel-text-contents'>
      <h1 class='hotel-guide-text'>
        oncetimeに、
      </h1>
      <h1 class='hotel-guide-text'>
        ゲストハウスを掲載
      </h1>
    </div>
    <div class='hotel-post-contents'>
      <h1 class='hotel-post-text'>
      掲載はこちらから
      </h1>
      <%= link_to '掲載する', '#', class: "posting-text" %></li>
    </div>
  </div>
</div>

